@media screen and (max-width: 1200px) {
    main {
        background-image: url("/img/backgroundPhone.png");
        background-size: cover;
        background-position: center;
    }

    aside {
        display: none;
    }

    section {
        display: none;
    }

    nav {
        padding: 0;
    }
    .btn-menu{
        display: block;
    }
    .menu {
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(30, 144, 255, 0.12);
        backdrop-filter: blur(2px);
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }


}


