nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 80px 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    text-transform: uppercase;
    z-index: 1;

}

nav a {
    color: #0b0f12;
    font-size: 0.9em;
}

nav .logo {
    width: 150px;
    height: 105px;
}


.menu {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: baseline;
}

nav ul li {
    margin: 0 25px;
    align-items: center;
}

.active {
    color: dodgerblue;
}

.btn-menu {
    display: none;
    position: absolute;
    top: 30px;
    right: 50px;
    width: 35px;
}

.a-btn-menu {
    position: absolute;
}

.filtre {
    margin-top: -6px;
    margin-left: 30px;
}

.commune {
    line-height: 12px;
    color: grey;
    font-size: 12px;
}

@media (max-width: 1300px) {
    .filtre {
        display: none;
    }
}