* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #e2e3e4;
    font-family: 'Montserrat';
    background-image: url("../img/background2.png");
    background-size: cover;
    color: #333;
}

/* Styles communs pour toutes les pages sauf l'index */
main {
    padding-top: 120px; /* Espace pour la barre de navigation */
}

/* Corrections pour la barre de navigation */
#nav {
    background-color: #e2e3e4;
}

/* Styles pour les appareils mobiles */
@media screen and (max-width: 767px) {
    main {
        padding-top: 80px;
    }
}




