/*section {*/
/*    align-items: center;*/
/*    display: flex;*/
/*    grid-template-columns: 1fr 1fr; !* Les deux colonnes prennent chacune la moitié de l'écran en largeur *!*/
/*    margin-top: 5%;*/
/*    gap: 5%;*/
/*    overflow-x: hidden;*/
/*}*/

main {
    height: calc(100vh - -2px);
}

.mainSection {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Pour espacer les deux articles sur toute la largeur de la section */
    margin-left: 2%;
    margin-right: 2%;
}

.secondSection {
    font-family: Arial, Helvetica, sans-serif;
}

article {
    flex-grow: 0; /* Empêche l'agrandissement des articles pour remplir l'espace */
    flex-shrink: 0; /* Empêche le rétrécissement des articles */
}

article:nth-child(1) {
    width: 50%; /* Taille de l'article de la première colonne */
}

article:nth-child(2) {
    width: 50%; /* Taille de l'article de la deuxième colonne */
}

/* Pour centrer le contenu de chaque article */
article > * {
    margin: 0 auto;
}


/*.grid1 {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: flex-end;*/
/*}*/

/*.grid2 {*/
/*    margin-bottom: 21%;*/
/*    max-height: 10vh;*/
/*    width: 43vw;*/
/*}*/

.desc-ref-template {
    text-align: justify;

}

:root {
    --image-template-max-width: 1000px;
    --image-template-height: 1000px;
    --image-template-margin-right: 0px;
}


/*SLIDER IMAGE*/

.slider{
    width: 800px;
    height: 500px;
    overflow: hidden;
    margin-top: 100px;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 1.1s;
}

.slide img{
    /*border-radius: 10px;*/
    width: 800px;
    height: 500px;
    object-fit: contain;
    transition: 0.5s;
}

/*css for manual slide navigation*/

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    position: sticky;
}

.manual-btn{
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #ffffff;
}

.checked {
    background: #ffffff;
}

.domaine {
    margin-top: -20px;
    color: #606060;
    font-size: 13px;
}

.scrolled {
    overflow: scroll;
    height: calc(100vh - 104px);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

}

.othersInfo div {
    display: flex;
}


@media (min-width: 1900px) {

    .secondSection {
        margin-top: 2%;
    }
}

@media (min-width: 1300px) {

    .othersInfo div p {
        width: 20%;
    }

    .mainSection {
        margin-top: -80px;
    }

    .secondSection {
        margin-left: 2%;
        margin-right: 2%;
    }

    .grid2 {
        margin-left: 50px;
    }

    .align-items {
        display: flex;
        align-items: center;
    }

    svg {
        margin-right: 10px;
        margin-left: -39px;
    }
}

/*1ère*/
@media (max-width: 1900px) {

    .desc-ref-template {
        /*margin-left: -100px;*/
    }

    .slide img{
        width: 659px;
        height: 437.5px;
        object-fit: contain;
    }

    .navigation-manual {
        margin-left: -80px;
        margin-top: -100px;
    }

    .slider {
        margin-right: 100px;
        width: 700px;
    }

}


/*2ème*/
@media (max-width: 1500px) {
    .secondSection {
        margin-top: -4%;
    }

    .desc-ref-template {
        margin-left: 0;
        width: 100%;
    }
    .slide img{
        width: 600px;
        height: 375px;
        object-fit: contain;
    }

    .navigation-manual {
        margin-left: -100px;
        margin-top: -160px;
    }

    .slider {
        margin-right: 200px;
        width: 600px;
    }

}

/*3ème*/

@media (max-width: 1300px) {
    main {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 30px;
        /*display: flex;*/
        /*justify-content: center;*/
        /*align-items: center;*/
    }

    article:nth-child(1) {
        width: auto;
    }

    .align-items {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    svg {
        margin-left: -10px;
        margin-right: 10px;
    }

    section {
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navigation-manual {
        margin-left: 50px;
        margin-top: 20px;
    }

    .grid1 {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    .mainSection {
        margin-top: -80px;
    }

    .desc-ref-template {
        text-align: center;
    }

    .slide img{
        width: 900px;
        height: 562.5px;
        object-fit: contain;
    }

    .grid2 {
        margin-left: 0;
        margin-right: 0;
        margin-top: 40px;
    }

    .slider {
        margin-left: 200px;
        width: 900px;
        height: 562.5px;
    }

    .secondSection {
        margin-top: 40px;
    }

    .othersInfo {
        text-align: justify;
        margin-right: -110px;
    }

    .othersInfo div p {
        width: 250px;
    }

}


/*4ème*/
@media (max-width: 920px) {

    .slide img{
        width: 500px;
        height: 312.5px;
        object-fit: contain;
    }

    .navigation-manual {
        margin-left: 50px;
        margin-top: -220px;
    }

    .grid2 {
        margin-top: -220px;
    }
}

/*5ème dernière*/
@media (max-width: 580px) {
    .slide img{
        width: 350px;
        height: 218.75px;
        object-fit: cover;
    }

    .navigation-manual {
        margin-left: 50px;
        margin-top: -310px;
    }

    .grid2 {
        margin-top: -300px;
    }

    .othersInfo {
        text-align: start;
        margin-right: 0px;
    }

    .othersInfo div p {
        width: 165px;
    }
}

