DOMAIN=apsi-btp.fr
ACME_EMAIL=contact@apsi-btp.fr

DB_NAME=apsi
DB_USER=apsi
DB_PASSWORD=
DB_ROOT_PASSWORD=

ADMIN_LOGIN=admin
ADMIN_PASSWORD_HASH_FILE=./secrets/admin-password-hash

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=contact@apsi-btp.fr
SMTP_PASSWORD=
SMTP_FROM=contact@apsi-btp.fr
SMTP_FROM_NAME=Formulaire de contact
SMTP_TO=contact@apsi-btp.fr
